.collapsible {
    background-color: transparent;
}

.active, .collapsible:hover {
    background-color: #d3d3d3;
}

.collapsible:after {
    display: flex;
    font-family: FontAwesome;
    content: '\f055';
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.active:after {
    display: flex;
    font-family: FontAwesome;
    content: "\f056";
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(0,0,0,0.02);
    margin-bottom: 0px;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { 
     will-change:auto !important; 
}

.canvasParent {
    width: 100%;
    height: 250px;
    position: 'relative';
    display: 'inline-block';
}


.autocomplete-container {
  /*the container must be positioned relative:*/
  position: relative;
  
  margin-bottom: 20px;
}

.autocomplete-container input {
  width: calc(100% - 43px);
  outline: none;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-right: 31px;
  font-size: 14px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  width: calc(100% - 8px);
  top: 40px;
  left: 4px;
  right: 0;
  font-size: 14px;
  font-family:sans-serif;
  
  background-color: #fff;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
  position: absolute;
  right: 5px;
  top: 10px;

  height: 100%;
  display: none;
  align-items: center;
/*   justify-content:center; */
}

.clear-button.visible {
  display: flex;
}


.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
